.header-tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid lightgray;
    box-shadow: 0px 6px 8px lightgray;
    width: 100vmax;
    background-image: url("https://pbs.twimg.com/media/GPDEPjQXkAEfe-u?format=jpg&name=large");
    margin-left: -10px;
    margin-top: -10px;
}
#header-logo{
    height: 8vmax;
    width: 18vmax;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
ul span{
    margin: 30px;
    text-decoration: none;
    color: black;
}


.bt1{
    height: 2.5vmax;
    width: 10vmax;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 6px 10px lightgray;
    background-color: #1266f1;
    color: white;
}
.bt1:hover{
    background-color: orange;
    color: black;
}
#home-link{
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: white;
    margin-right: 10vmax;
    cursor: pointer;
    /* color: orange; */
    /* background-color: #1266f1; */
    /* color: white; */
    border-radius: 5px;
    padding: 5px;
    
}
#home-link:hover{
    border: 2px solid #1266f1;
    background-color: orange;
    color: black;

}

/* Responsive Design */

@media screen and (max-width:900px){
    .bt1{
        height: 5vmax;
        width: 13max;
    }
}
@media screen and (max-width:500px){
    .header-tab{
        width: 100vmax;
    }
}