.section1{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
}
.section2{
    margin: 50px;
    line-height: 1.5em;
    font-size: 18px;
}
.section3{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.card img{
    height: 15vmax;
    width: 15vmax;
    border-radius: 5px;
}
.card{
    border: 2px solid lightgray;
    box-shadow: 6px 6px 10px lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h2{
    text-align: center;
}
.card a{
    text-decoration: none;
    text-align: center;
}
.timeline{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}